@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom colors */
:root {
  --color-primary: #ff7f00; /* Orange */
  --color-secondary: #ffd500; /* Yellow */
  --color-bg: #000000; /* Black */
}
